body {
    width: 300px;
}

.add-priority {
    display: flex;
    justify-content: flex-start;
}

#options-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.child {
    margin: auto;
}
